google-map {
  height: 400px;
  width: 48%;
  margin: 20px 10px;
  float: left;
}

.background {
  background-image: url('../images/1462394430232280.jpg');
  background-size: cover;
  background-position: center;
}
