google-map {
  height: 35vh;
  width: 75vw;
  margin: 20px auto;
}

table {
  font-size: 20px;
}

tbody tr td br {
  display: none;
}

tbody tr td table {
  display: none;
}

body {
  font-family: 'Roboto', 'Noto', sans-serif;
}
