google-map {
  height: 400px;
  width: 80%;
  margin: 20px 10px;
}

.background {
  /*background-image: url('../images/1462394430232280.jpg');*/
  background-size: cover;
  background-position: left;
  height: 80vh;
}
